@{
    ViewData["Title"] = "Contato:";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Weverton César de Borba </strong><br />
    <strong>Phone:</strong> 9 9986-6408 <br />
    <strong>Email</strong> <a href="mailto:borbaweverton@gmail.com">borbaweverton@gmail.com</a><br />
</address>